*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
nav{
    background-color: aqua;
    border-radius: 0px 10px;
}
ol{
    height: 90px;
    /* border:2px solid red; */
    display:flex;
    align-items: center;
    justify-content: space-evenly;
    list-style: none;
}
nav>ol>li{
    font-weight: bold;
    font-style: italic;
    font-family: Arial, Helvetica, sans-serif;
    background-color: bisque;
    border-radius: 10px;
    padding:10px 20px;
    box-shadow: 3px 3px 5px;
}